name: "publish crates"
on:
  push:
    branches: ["**"]
  pull_request:
  workflow_call:
    inputs: # null for another event
      dry-run:
        type: boolean
        default: true

permissions: {}

jobs:
  set-up:
    if: ${{ !( toJSON(inputs) == '{}' && startsWith(github.event.head_commit.message, 'release:') ) }}
    runs-on: ubuntu-latest
    permissions: {}
    outputs:
      dry-run: ${{ steps.set-dry-run.outputs.dry-run }}
    steps:
      - id: set-dry-run
        env:
          DRY_RUN: ${{ toJSON(inputs) == '{}' || inputs.dry-run == true }}
        run: echo "dry-run=$DRY_RUN" >> $GITHUB_OUTPUT
  publish:
    needs: ["set-up"]
    name: "${{ fromJson(needs.set-up.outputs.dry-run) && 'DRY-RUN' || '' }} publish"
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0 # master
        with:
          toolchain: stable
      - env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          DRY_RUN: ${{ fromJson(needs.set-up.outputs.dry-run) && '--dry-run' || '' }}
        run: |
          cargo publish --all-features $DRY_RUN
